body{
    background-color: rgb(248, 133, 133);
}
h1{
font-family: 'Dancing Script' !important;
font-size: 5rem!important;
}
.card{
    background-color: hsla(60, 1%, 13%, 0.3);
}
.table{
    color: rgb(252, 252, 252);
}